<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>second</key>
    <string>second.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u10450</key>
    <string>u10450.glif</string>
    <key>u10451</key>
    <string>u10451.glif</string>
    <key>u10452</key>
    <string>u10452.glif</string>
    <key>u10453</key>
    <string>u10453.glif</string>
    <key>u10454</key>
    <string>u10454.glif</string>
    <key>u10455</key>
    <string>u10455.glif</string>
    <key>u10456</key>
    <string>u10456.glif</string>
    <key>u10457</key>
    <string>u10457.glif</string>
    <key>u10458</key>
    <string>u10458.glif</string>
    <key>u10459</key>
    <string>u10459.glif</string>
    <key>u1045a</key>
    <string>u1045a.glif</string>
    <key>u1045b</key>
    <string>u1045b.glif</string>
    <key>u1045c</key>
    <string>u1045c.glif</string>
    <key>u1045d</key>
    <string>u1045d.glif</string>
    <key>u1045e</key>
    <string>u1045e.glif</string>
    <key>u1045f</key>
    <string>u1045f.glif</string>
    <key>u10460</key>
    <string>u10460.glif</string>
    <key>u10461</key>
    <string>u10461.glif</string>
    <key>u10462</key>
    <string>u10462.glif</string>
    <key>u10463</key>
    <string>u10463.glif</string>
    <key>u10464</key>
    <string>u10464.glif</string>
    <key>u10465</key>
    <string>u10465.glif</string>
    <key>u10466</key>
    <string>u10466.glif</string>
    <key>u10467</key>
    <string>u10467.glif</string>
    <key>u10468</key>
    <string>u10468.glif</string>
    <key>u10469</key>
    <string>u10469.glif</string>
    <key>u1046a</key>
    <string>u1046a.glif</string>
    <key>u1046b</key>
    <string>u1046b.glif</string>
    <key>u1046c</key>
    <string>u1046c.glif</string>
    <key>u1046d</key>
    <string>u1046d.glif</string>
    <key>u1046e</key>
    <string>u1046e.glif</string>
    <key>u1046f</key>
    <string>u1046f.glif</string>
    <key>u10470</key>
    <string>u10470.glif</string>
    <key>u10471</key>
    <string>u10471.glif</string>
    <key>u10472</key>
    <string>u10472.glif</string>
    <key>u10473</key>
    <string>u10473.glif</string>
    <key>u10474</key>
    <string>u10474.glif</string>
    <key>u10475</key>
    <string>u10475.glif</string>
    <key>u10476</key>
    <string>u10476.glif</string>
    <key>u10477</key>
    <string>u10477.glif</string>
    <key>u10478</key>
    <string>u10478.glif</string>
    <key>u10479</key>
    <string>u10479.glif</string>
    <key>u1047a</key>
    <string>u1047a.glif</string>
    <key>u1047b</key>
    <string>u1047b.glif</string>
    <key>u1047c</key>
    <string>u1047c.glif</string>
    <key>u1047d</key>
    <string>u1047d.glif</string>
    <key>u1047e</key>
    <string>u1047e.glif</string>
    <key>u1047f</key>
    <string>u1047f.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>unie000</key>
    <string>unie000.glif</string>
    <key>unie650</key>
    <string>unie650.glif</string>
    <key>unie651</key>
    <string>unie651.glif</string>
    <key>unie652</key>
    <string>unie652.glif</string>
    <key>unie653</key>
    <string>unie653.glif</string>
    <key>unie654</key>
    <string>unie654.glif</string>
    <key>unie655</key>
    <string>unie655.glif</string>
    <key>unie656</key>
    <string>unie656.glif</string>
    <key>unie657</key>
    <string>unie657.glif</string>
    <key>unie658</key>
    <string>unie658.glif</string>
    <key>unie659</key>
    <string>unie659.glif</string>
    <key>unie65a</key>
    <string>unie65a.glif</string>
    <key>unie65b</key>
    <string>unie65b.glif</string>
    <key>unie65c</key>
    <string>unie65c.glif</string>
    <key>unie65d</key>
    <string>unie65d.glif</string>
    <key>unie65e</key>
    <string>unie65e.glif</string>
    <key>unie65f</key>
    <string>unie65f.glif</string>
    <key>unie660</key>
    <string>unie660.glif</string>
    <key>unie661</key>
    <string>unie661.glif</string>
    <key>unie662</key>
    <string>unie662.glif</string>
    <key>unie663</key>
    <string>unie663.glif</string>
    <key>unie664</key>
    <string>unie664.glif</string>
    <key>unie665</key>
    <string>unie665.glif</string>
    <key>unie666</key>
    <string>unie666.glif</string>
    <key>unie667</key>
    <string>unie667.glif</string>
    <key>unie668</key>
    <string>unie668.glif</string>
    <key>unie669</key>
    <string>unie669.glif</string>
    <key>unie66a</key>
    <string>unie66a.glif</string>
    <key>unie66b</key>
    <string>unie66b.glif</string>
    <key>unie66c</key>
    <string>unie66c.glif</string>
    <key>unie66e</key>
    <string>unie66e.glif</string>
    <key>unie66f</key>
    <string>unie66f.glif</string>
    <key>unie670</key>
    <string>unie670.glif</string>
    <key>unie671</key>
    <string>unie671.glif</string>
    <key>unie672</key>
    <string>unie672.glif</string>
    <key>unie673</key>
    <string>unie673.glif</string>
    <key>unie674</key>
    <string>unie674.glif</string>
    <key>unie675</key>
    <string>unie675.glif</string>
    <key>unie676</key>
    <string>unie676.glif</string>
    <key>unie677</key>
    <string>unie677.glif</string>
    <key>unie678</key>
    <string>unie678.glif</string>
    <key>unie679</key>
    <string>unie679.glif</string>
    <key>unie67a</key>
    <string>unie67a.glif</string>
    <key>unie67b</key>
    <string>unie67b.glif</string>
    <key>unie67c</key>
    <string>unie67c.glif</string>
    <key>unie67d</key>
    <string>unie67d.glif</string>
    <key>unie67e</key>
    <string>unie67e.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
