<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>sterling</string>
      <string>brokenbar</string>
      <string>section</string>
      <string>logicalnot</string>
      <string>degree</string>
      <string>plusminus</string>
      <string>paragraph</string>
      <string>periodcentered</string>
      <string>multiply</string>
      <string>divide</string>
      <string>endash</string>
      <string>emdash</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>bullet</string>
      <string>ellipsis</string>
      <string>minute</string>
      <string>second</string>
      <string>Euro</string>
      <string>unie650</string>
      <string>unie651</string>
      <string>unie652</string>
      <string>unie653</string>
      <string>unie654</string>
      <string>unie655</string>
      <string>unie656</string>
      <string>unie657</string>
      <string>unie658</string>
      <string>unie659</string>
      <string>unie65a</string>
      <string>unie65b</string>
      <string>unie65c</string>
      <string>unie65d</string>
      <string>unie65e</string>
      <string>unie65f</string>
      <string>unie660</string>
      <string>unie661</string>
      <string>unie662</string>
      <string>unie663</string>
      <string>unie664</string>
      <string>unie665</string>
      <string>unie666</string>
      <string>unie667</string>
      <string>unie668</string>
      <string>unie669</string>
      <string>unie66a</string>
      <string>unie66b</string>
      <string>unie66c</string>
      <string>unie66e</string>
      <string>unie66f</string>
      <string>unie670</string>
      <string>unie671</string>
      <string>unie672</string>
      <string>unie673</string>
      <string>unie674</string>
      <string>unie675</string>
      <string>unie676</string>
      <string>unie677</string>
      <string>unie678</string>
      <string>unie679</string>
      <string>unie67a</string>
      <string>unie67b</string>
      <string>unie67c</string>
      <string>unie67d</string>
      <string>unie67e</string>
      <string>u10450</string>
      <string>u10451</string>
      <string>u10452</string>
      <string>u10453</string>
      <string>u10454</string>
      <string>u10455</string>
      <string>u10456</string>
      <string>u10457</string>
      <string>u10458</string>
      <string>u10459</string>
      <string>u1045a</string>
      <string>u1045b</string>
      <string>u1045c</string>
      <string>u1045d</string>
      <string>u1045e</string>
      <string>u1045f</string>
      <string>u10460</string>
      <string>u10461</string>
      <string>u10462</string>
      <string>u10463</string>
      <string>u10464</string>
      <string>u10465</string>
      <string>u10466</string>
      <string>u10467</string>
      <string>u10468</string>
      <string>u10469</string>
      <string>u1046a</string>
      <string>u1046b</string>
      <string>u1046c</string>
      <string>u1046d</string>
      <string>u1046e</string>
      <string>u1046f</string>
      <string>u10470</string>
      <string>u10471</string>
      <string>u10472</string>
      <string>u10473</string>
      <string>u10474</string>
      <string>u10475</string>
      <string>u10476</string>
      <string>u10477</string>
      <string>u10478</string>
      <string>u10479</string>
      <string>u1047a</string>
      <string>u1047b</string>
      <string>u1047c</string>
      <string>u1047d</string>
      <string>u1047e</string>
      <string>u1047f</string>
      <string>segment_d</string>
      <string>segment_e</string>
      <string>segment_g</string>
      <string>segment_r</string>
      <string>segment_a</string>
      <string>segment_c</string>
      <string>segment_b</string>
      <string>segment_f</string>
      <string>test</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>A</key>
      <string>base</string>
      <key>B</key>
      <string>base</string>
      <key>C</key>
      <string>base</string>
      <key>D</key>
      <string>base</string>
      <key>E</key>
      <string>base</string>
      <key>Euro</key>
      <string>base</string>
      <key>F</key>
      <string>base</string>
      <key>G</key>
      <string>base</string>
      <key>H</key>
      <string>base</string>
      <key>I</key>
      <string>base</string>
      <key>J</key>
      <string>base</string>
      <key>K</key>
      <string>base</string>
      <key>L</key>
      <string>base</string>
      <key>M</key>
      <string>base</string>
      <key>N</key>
      <string>base</string>
      <key>O</key>
      <string>base</string>
      <key>P</key>
      <string>base</string>
      <key>Q</key>
      <string>base</string>
      <key>R</key>
      <string>base</string>
      <key>S</key>
      <string>base</string>
      <key>T</key>
      <string>base</string>
      <key>U</key>
      <string>base</string>
      <key>V</key>
      <string>base</string>
      <key>W</key>
      <string>base</string>
      <key>X</key>
      <string>base</string>
      <key>Y</key>
      <string>base</string>
      <key>Z</key>
      <string>base</string>
      <key>a</key>
      <string>base</string>
      <key>ampersand</key>
      <string>base</string>
      <key>asciicircum</key>
      <string>base</string>
      <key>asciitilde</key>
      <string>base</string>
      <key>asterisk</key>
      <string>base</string>
      <key>at</key>
      <string>base</string>
      <key>b</key>
      <string>base</string>
      <key>backslash</key>
      <string>base</string>
      <key>bar</key>
      <string>base</string>
      <key>braceleft</key>
      <string>base</string>
      <key>braceright</key>
      <string>base</string>
      <key>bracketleft</key>
      <string>base</string>
      <key>bracketright</key>
      <string>base</string>
      <key>brokenbar</key>
      <string>base</string>
      <key>bullet</key>
      <string>base</string>
      <key>c</key>
      <string>base</string>
      <key>colon</key>
      <string>base</string>
      <key>comma</key>
      <string>base</string>
      <key>d</key>
      <string>base</string>
      <key>dagger</key>
      <string>base</string>
      <key>daggerdbl</key>
      <string>base</string>
      <key>degree</key>
      <string>base</string>
      <key>divide</key>
      <string>base</string>
      <key>dollar</key>
      <string>base</string>
      <key>e</key>
      <string>base</string>
      <key>eight</key>
      <string>base</string>
      <key>ellipsis</key>
      <string>base</string>
      <key>emdash</key>
      <string>base</string>
      <key>endash</key>
      <string>base</string>
      <key>equal</key>
      <string>base</string>
      <key>exclam</key>
      <string>base</string>
      <key>f</key>
      <string>base</string>
      <key>five</key>
      <string>base</string>
      <key>four</key>
      <string>base</string>
      <key>g</key>
      <string>base</string>
      <key>grave</key>
      <string>base</string>
      <key>greater</key>
      <string>base</string>
      <key>h</key>
      <string>base</string>
      <key>hyphen</key>
      <string>base</string>
      <key>i</key>
      <string>base</string>
      <key>j</key>
      <string>base</string>
      <key>k</key>
      <string>base</string>
      <key>l</key>
      <string>base</string>
      <key>less</key>
      <string>base</string>
      <key>logicalnot</key>
      <string>base</string>
      <key>m</key>
      <string>base</string>
      <key>minute</key>
      <string>base</string>
      <key>multiply</key>
      <string>base</string>
      <key>n</key>
      <string>base</string>
      <key>nine</key>
      <string>base</string>
      <key>numbersign</key>
      <string>base</string>
      <key>o</key>
      <string>base</string>
      <key>one</key>
      <string>base</string>
      <key>p</key>
      <string>base</string>
      <key>paragraph</key>
      <string>base</string>
      <key>parenleft</key>
      <string>base</string>
      <key>parenright</key>
      <string>base</string>
      <key>percent</key>
      <string>base</string>
      <key>period</key>
      <string>base</string>
      <key>periodcentered</key>
      <string>base</string>
      <key>plus</key>
      <string>base</string>
      <key>plusminus</key>
      <string>base</string>
      <key>q</key>
      <string>base</string>
      <key>question</key>
      <string>base</string>
      <key>quotedbl</key>
      <string>base</string>
      <key>quotedblleft</key>
      <string>base</string>
      <key>quotedblright</key>
      <string>base</string>
      <key>quoteleft</key>
      <string>base</string>
      <key>quoteright</key>
      <string>base</string>
      <key>quotesingle</key>
      <string>base</string>
      <key>r</key>
      <string>base</string>
      <key>s</key>
      <string>base</string>
      <key>second</key>
      <string>base</string>
      <key>section</key>
      <string>base</string>
      <key>segment_a</key>
      <string>base</string>
      <key>segment_b</key>
      <string>base</string>
      <key>segment_c</key>
      <string>base</string>
      <key>segment_d</key>
      <string>base</string>
      <key>segment_e</key>
      <string>base</string>
      <key>segment_f</key>
      <string>base</string>
      <key>segment_g</key>
      <string>base</string>
      <key>segment_r</key>
      <string>base</string>
      <key>semicolon</key>
      <string>base</string>
      <key>seven</key>
      <string>base</string>
      <key>six</key>
      <string>base</string>
      <key>slash</key>
      <string>base</string>
      <key>space</key>
      <string>base</string>
      <key>sterling</key>
      <string>base</string>
      <key>t</key>
      <string>base</string>
      <key>test</key>
      <string>base</string>
      <key>three</key>
      <string>base</string>
      <key>two</key>
      <string>base</string>
      <key>u</key>
      <string>base</string>
      <key>u10450</key>
      <string>base</string>
      <key>u10451</key>
      <string>base</string>
      <key>u10452</key>
      <string>base</string>
      <key>u10453</key>
      <string>base</string>
      <key>u10454</key>
      <string>base</string>
      <key>u10455</key>
      <string>base</string>
      <key>u10456</key>
      <string>base</string>
      <key>u10457</key>
      <string>base</string>
      <key>u10458</key>
      <string>base</string>
      <key>u10459</key>
      <string>base</string>
      <key>u1045a</key>
      <string>base</string>
      <key>u1045b</key>
      <string>base</string>
      <key>u1045c</key>
      <string>base</string>
      <key>u1045d</key>
      <string>base</string>
      <key>u1045e</key>
      <string>base</string>
      <key>u1045f</key>
      <string>base</string>
      <key>u10460</key>
      <string>base</string>
      <key>u10461</key>
      <string>base</string>
      <key>u10462</key>
      <string>base</string>
      <key>u10463</key>
      <string>base</string>
      <key>u10464</key>
      <string>base</string>
      <key>u10465</key>
      <string>base</string>
      <key>u10466</key>
      <string>base</string>
      <key>u10467</key>
      <string>base</string>
      <key>u10468</key>
      <string>base</string>
      <key>u10469</key>
      <string>base</string>
      <key>u1046a</key>
      <string>base</string>
      <key>u1046b</key>
      <string>base</string>
      <key>u1046c</key>
      <string>base</string>
      <key>u1046d</key>
      <string>base</string>
      <key>u1046e</key>
      <string>base</string>
      <key>u1046f</key>
      <string>base</string>
      <key>u10470</key>
      <string>base</string>
      <key>u10471</key>
      <string>base</string>
      <key>u10472</key>
      <string>base</string>
      <key>u10473</key>
      <string>base</string>
      <key>u10474</key>
      <string>base</string>
      <key>u10475</key>
      <string>base</string>
      <key>u10476</key>
      <string>base</string>
      <key>u10477</key>
      <string>base</string>
      <key>u10478</key>
      <string>base</string>
      <key>u10479</key>
      <string>base</string>
      <key>u1047a</key>
      <string>base</string>
      <key>u1047b</key>
      <string>base</string>
      <key>u1047c</key>
      <string>base</string>
      <key>u1047d</key>
      <string>base</string>
      <key>u1047e</key>
      <string>base</string>
      <key>u1047f</key>
      <string>base</string>
      <key>underscore</key>
      <string>base</string>
      <key>unie650</key>
      <string>base</string>
      <key>unie651</key>
      <string>base</string>
      <key>unie652</key>
      <string>base</string>
      <key>unie653</key>
      <string>base</string>
      <key>unie654</key>
      <string>base</string>
      <key>unie655</key>
      <string>base</string>
      <key>unie656</key>
      <string>base</string>
      <key>unie657</key>
      <string>base</string>
      <key>unie658</key>
      <string>base</string>
      <key>unie659</key>
      <string>base</string>
      <key>unie65a</key>
      <string>base</string>
      <key>unie65b</key>
      <string>base</string>
      <key>unie65c</key>
      <string>base</string>
      <key>unie65d</key>
      <string>base</string>
      <key>unie65e</key>
      <string>base</string>
      <key>unie65f</key>
      <string>base</string>
      <key>unie660</key>
      <string>base</string>
      <key>unie661</key>
      <string>base</string>
      <key>unie662</key>
      <string>base</string>
      <key>unie663</key>
      <string>base</string>
      <key>unie664</key>
      <string>base</string>
      <key>unie665</key>
      <string>base</string>
      <key>unie666</key>
      <string>base</string>
      <key>unie667</key>
      <string>base</string>
      <key>unie668</key>
      <string>base</string>
      <key>unie669</key>
      <string>base</string>
      <key>unie66a</key>
      <string>base</string>
      <key>unie66b</key>
      <string>base</string>
      <key>unie66c</key>
      <string>base</string>
      <key>unie66e</key>
      <string>base</string>
      <key>unie66f</key>
      <string>base</string>
      <key>unie670</key>
      <string>base</string>
      <key>unie671</key>
      <string>base</string>
      <key>unie672</key>
      <string>base</string>
      <key>unie673</key>
      <string>base</string>
      <key>unie674</key>
      <string>base</string>
      <key>unie675</key>
      <string>base</string>
      <key>unie676</key>
      <string>base</string>
      <key>unie677</key>
      <string>base</string>
      <key>unie678</key>
      <string>base</string>
      <key>unie679</key>
      <string>base</string>
      <key>unie67a</key>
      <string>base</string>
      <key>unie67b</key>
      <string>base</string>
      <key>unie67c</key>
      <string>base</string>
      <key>unie67d</key>
      <string>base</string>
      <key>unie67e</key>
      <string>base</string>
      <key>v</key>
      <string>base</string>
      <key>w</key>
      <string>base</string>
      <key>x</key>
      <string>base</string>
      <key>y</key>
      <string>base</string>
      <key>z</key>
      <string>base</string>
      <key>zero</key>
      <string>base</string>
    </dict>
  </dict>
</plist>
